{% extends "layouts.html" %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Articles page</h1>
    <p class="lead">This is articles page</p>
    <hr class="my-4">

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            {% for i in [1,2,3,4,5] %}
          <tr>
            <th scope="row">{{ i }}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
            {% endfor %}
     
        </tbody>
      </table>

    <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>


  </div>

{% endblock %}